<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link th:href="@{/resources/static/css/element_details.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/static/css/periodic_table.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<th:block th:replace="fragments/header"/>
<div class="container">
    <div class="vertical-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h3>Adding a new quiz...</h3>
            </div>
            <div class="panel-body">
                <form>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>