<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:replace="fragments/header"/>
<div class="container">
    <div class="vertical-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Add Questions</h3>
            </div>
            <div class="panel-body">
                <form th:object="${newQuestionForm}" method="post">
                    <div class="row">
                        <div class="col-lg-6 col-centered">
                            <div th:if="${messageDanger != null}" class="alert alert-danger">
                                <strong th:text="${messageDanger}">Message content</strong>
                            </div>
                            <div th:if="${messageSuccess != null}" class="alert alert-success">
                                <strong th:text="${messageSuccess}">Message content</strong>
                            </div>
                            <div class="form-group">
                                <label for="questionName">Question (mandatory): </label>
                                <input th:field="*{text}" type="text" class="form-control" id="questionName"
                                       placeholder="Max 250 characters"/>
                            </div>
                            <h3>Answers: </h3>
                            <div class="form-group">
                                <label for="correctAnswer">Correct answer (mandatory): </label>
                                <input th:field="*{correctAnswer}" type="text" class="form-control" id="correctAnswer"
                                       placeholder="Max 150 characters"/>
                            </div>
                            <div class="form-group">
                                <label for="wrongAnswer1">Wrong answer (mandatory): </label>
                                <input th:field="*{wrongAnswer1}" type="text" class="form-control" id="wrongAnswer1"
                                       placeholder="Max 150 characters"/>
                            </div>
                            <div class="form-group">
                                <label for="wrongAnswer2">Wrong answer: </label>
                                <input th:field="*{wrongAnswer2}" type="text" class="form-control" id="wrongAnswer2"
                                       placeholder="Max 150 characters"/>
                            </div>
                            <div class="form-group">
                                <label for="wrongAnswer3">Wrong answer: </label>
                                <input th:field="*{wrongAnswer3}" type="text" class="form-control" id="wrongAnswer3"
                                       placeholder="Max 150 characters"/>
                            </div>
                            <button type="submit" class="btn btn-primary"> Submit question </button>
                            <a class="btn btn-success pull-right" th:href="@{/quiz/start}"> Exit </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>