<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/resources/static/css/element_details.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/static/css/periodic_system.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<th:block th:replace="fragments/header"/>
<div class="container">
    <div class="vertical-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 th:text="${chemicalElement.name}">Symbol</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">

                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Symbol</h3>
                            <p th:text="${chemicalElement.symbol}">symbol</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Atomic Number</h3>
                            <p th:text="${chemicalElement.atomicNumber}">atomicNumber</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">

                            <h3>Block</h3>
                            <p th:text="${chemicalElement.block}">block</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>State at 20°C</h3>
                            <p th:text="${chemicalElement.stateAt20C}">stateAt20C</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Electron Configuration</h3>
                            <p th:text="${chemicalElement.electronConfiguration}">electronConfiguration</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Atomic Mass</h3>
                            <p th:text="${chemicalElement.atomicMass}">atomicMass</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Atomic Radius</h3>
                            <p th:text="${chemicalElement.atomicRadius}">atomicRadius</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Element Type</h3>
                            <p th:text="${#strings.capitalize(chemicalElement.type)}">type</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Melting Point in °C</h3>
                            <p th:text="${#strings.isEmpty(chemicalElement.meltingPointInC) ? 'No data' : chemicalElement.meltingPointInC}">meltingPointInC</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Boiling Point in °C</h3>
                            <p th:text="${#strings.isEmpty(chemicalElement.boilingPointInC) ? 'No data' : chemicalElement.boilingPointInC}">boilingPointInC</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Melting Point in F</h3>
                            <p th:text="${#strings.isEmpty(chemicalElement.meltingPointInC) ? 'No data' : #numbers.formatDecimal(chemicalElement.meltingPointInC * 1.8 +32, 0 ,2)}"> meltingPointInF</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Boiling Point in F</h3>
                            <p th:text="${#strings.isEmpty(chemicalElement.boilingPointInC) ? 'No data' : #numbers.formatDecimal(chemicalElement.boilingPointInC * 1.8 +32, 0 ,2)}"> boilingPointInF</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Electronegativity</h3>
                            <p th:text="${chemicalElement.electronegativity}">electronegativity</p>
                        </div>
                        <div class="details-box" th:classappend="${chemicalElement.type}">
                            <h3>Common Oxidation States</h3>
                            <p th:text="${chemicalElement.commonOxidationStates}">commonOxidationStates</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="isotopes-box" th:classappend="${chemicalElement.type}">
                            <h3>Key Isotopes</h3>
                            <div class="details-box" th:classappend="${chemicalElement.type}" th:each="keyIsotope : ${keyIsotopes}">
                                <p th:text="*{keyIsotope.symbol}">Symbol</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>