<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/resources/static/css/periodic_system.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<th:block th:replace="fragments/header"/>
<div class="container">
    <div class="vertical-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Periodic system of elements</h2>
            </div>
            <div class="panel-body">
                <div class="col-lg-12" id="periodic_system">
                    <table >
                        <tbody>
                        <tr id="period_1">
                            <td class="period-number">1</td>
                            <td class="element-cell">H</td>
                            <td colspan="16" class="filler-cell"> </td>
                            <td class="element-cell"> He</td>
                        </tr>
                        <tr id="period_2">
                            <td class="period-number">2</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td colspan="10" class="filler-cell"></td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                        </tr>

                        <tr id="period_3">
                            <td class="period-number">3</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td colspan="10" class="filler-cell"></td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                        </tr>
                        <tr id="period_4">
                            <td class="period-number">4</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                        </tr>
                        <tr id="period_5">
                            <td class="period-number">5</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                        </tr>
                        <tr id="period_6">
                            <td class="period-number">6</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                        </tr>
                        <tr id="lanthanides">
                            <td colspan="3" class="filler-cell"></td>
                            <td>Lanthanides</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                        </tr>

                        <tr id="actinides">
                            <td colspan="3" class="filler-cell"></td>
                            <td>Actinides</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                            <td class="element-cell"> H</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>