<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/resources/static/css/quiz.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<th:block th:replace="fragments/header"/>
<div class="container">
    <div class="vertical-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Welcome to the Quiz Area!</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div th:each="quiz : ${quizes}">
                            <div th:if="*{!#lists.isEmpty(quiz.questions)}" class="row top-buffer">
                                <div class="col-lg-6">
                                    <a th:href="@{/quiz/{quizId}/1(quizId = *{quiz.id})}" class="btn btn-lg btn-block"
                                    th:classappend="*{'quiz-difficulty-'+quiz.difficulty}">
                                        <h4 th:text="*{'Quiz Nr. '+quiz.id +' : ' + quiz.name}">Start Quiz</h4>
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <p th:text="*{quiz.description}" class="well"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>