<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/resources/static/css/quiz.css}" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<th:block th:replace="fragments/header"/>
<div class="container">
    <div class="vertical-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 th:text="${'Quiz ' + question.difficulty + ', Question '+ question.number}">Quiz difficulty</h1>
                <hr/>
                <form th:object="${userAnswer}" id="quizForm" class="form-group" method="POST">
                    <h3 th:text="${question.text}">Question</h3>
                        <div id="radionInputs" th:each=" answer : ${answers}">
                            <input type="radio" class="radioInput"
                                   th:field="*{answerId}"
                                   th:value="${answer.id}"
                                    th:id="${answer.id}"
                                   onchange="document.getElementById('submitBtn').disabled = !this.checked;"
                                   />
                            <label th:for="${answer.id}" th:text="${answer.text}">Answer</label>
                        </div>
                    <br/>
                    <input  id="submitBtn" type="submit" th:value="${lastQuestion == true ? 'Submit quiz' : 'Next question'}" class="btn btn-success btn-lg" disabled="disabled"/>
                    <a class="btn btn-danger pull-right btn-lg" th:href="@{/quiz/cleanSession}"> Quit exam</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

