<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/resources/static/css/quiz.css}" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<th:block th:replace="fragments/header"/>
<div class="container">
    <div class="vertical-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 th:text="${'Quiz difficulty: ' + question.difficulty}">Quiz difficulty</h2>
                <hr/>
                <form th:object="${userAnswer}" id="quizForm" class="form-group" method="POST">
                    <h3 th:text="${question.text}">Question</h3>
                        <div th:each=" answer : ${answers}">
                            <input type="radio" checked="true"
                                   th:field="*{answerId}"
                                   th:value="${answer.id}"
                                    th:id="${answer.id}"/>
                            <label th:for="${answer.id}" th:text="${answer.text}">Answer</label>
                        </div>
                    <!--<a  class="btn btn-success" th:href="@{/quiz/{difficulty}/{nextQuestionNr}(difficulty = ${question.difficulty},nextQuestionNr=${nextQuestionNr})}"> Next question</a>-->
                    <input  id="submitBtn" type="submit" value="Submit quiz" class="btn btn-success"/>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<script>-->

    <!--function getContextPath() {-->
        <!--return window.location.pathname.substring(0, window.location.pathname.indexOf("/", 2));-->
    <!--}-->


    <!--$("#submit-quiz").click(function (quiz) {-->


        <!--var ctx = getContextPath();-->
        <!--var pathname = window.location.pathname; // Returns path only-->

        <!--console.log(ctx);-->
        <!--console.log(pathname);-->


        <!--var checkedInputs = $("input:checked");-->
        <!--var answerIdArray = [];-->
        <!--checkedInputs.each(function () {-->
            <!--answerIdArray.push($(this).val());-->
        <!--})-->
        <!--console.log(answerIdArray);-->
        <!--$.ajax({-->
                <!--type: "POST",-->
                <!--url: pathname,-->
                <!--data: JSON.stringify(answerIdArray),-->
                <!--contentType: "application/json",-->
                <!--dataType: "json"-->
            <!--}-->
        <!--)-->
    <!--});-->
<!--</script>-->

</body>
</html>

