<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/periodic_system.css}" rel="stylesheet" type="text/css"/>
</head>
<th:block th:replace="fragments/header"/>
<body>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Perioid system of elements</h2>
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <table>
                        <thead></thead>
                        <tbody style="width: 100%">
                        <tr>
                            <td class="pull-left"> H</td>

                            <td class="pull-right"> He</td>

                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>