table{
    width:100%;
}
table, tr, td{
    border: solid 3px white;
}
th{
    background-color: white !important;
    text-align: center !important;
}

.element-cell{
    height: 60px;
    width: 60px;
    text-align:center;
    vertical-align:middle;
    background-color: transparent;
}
.element-cell a{
    color: #0f0f0f;
    text-decoration: none;
}

.element-cell a:hover{
    color: #0f0f0f;
    text-decoration: none;
}

.filler-cell{
    border: none;
    background-color: white !important;
}
.atomic-number{
    margin-left:25%;
    max-width: 50%;
    font-size: 80%;
    background-color: rgba(102, 102, 153, 0.15);
    border-radius: 60%;
 }
.bottom-buffer-small{
    padding-bottom: 5px;
}

.lanthanide {
    background-color:  #bfeaec;
}
.actinides {
    background-color: #a2d34d;
}

/*ELEMENT GROUPS*/
.alkali-metal{
    background-color: #a2d34d;
}
.alkaline-earth-metal{
    background-color: #a2d34d;
}
.transition-metal{
    background-color: #a2d34d;
}
.post-transition-metal{
    background-color: #a2d34d;
}
.metalloid{
    background-color: #a2d34d;
}
.polyatomic-nonmetal{
    background-color: #a2d34d;
}
.diatomic-nonmetal{
    background-color: #a2d34d;
}
.noble-gas{
    background-color: #a2d34d;
}
.unknown-chemical-properties{
    background-color: #a2d34d;
}
