table, tr, td{
    border: solid 3px white;
}
th{
    background-color: white !important;
    text-align: center !important;

}
.element-cell{
    padding: 2px 2px 2px 2px;
    height: 60px;
    width: 60px;
    text-align:center;
    vertical-align:middle;
    background-color: transparent;

}
.filler-cell{
    border: none;
    background-color: white !important;
}

.period-number{
    border: none;
    padding-right: 5px;
}
group-number{
    border: none;
    padding-top: 5px;


}
#lanthanides .element-cell{
    background-color:  #bfeaec;
}
#actinides .element-cell{
    background-color: #a2d34d;
}
.group1{
    background-color: #ebbfd8;
}
.group2{
    background-color: #fbc9e5;

 }
.group3{
    background-color: #5bc2e7;

}
.group4{
    background-color: #5bc2e7;
}
.group5{
    background-color: #5bc2e7;

}
.group6{
    background-color: #5bc2e7;

}
.group7{
    background-color: #5bc2e7;

}
.group8{
    background-color: #5bc2e7;

}
.group9{
    background-color: #5bc2e7;

}
.group10{
    background-color: #5bc2e7;

}
.group11{
    background-color: #5bc2e7;

}
.group12{
    background-color: #5bc2e7;

}
.group13{
    background-color: #cedc00;

}
.group14{
    background-color: #d1a2cb;

}
.group15{
    background-color: #b5b9ba;

}
.group16{
    background-color: #f0b323;

}
.group17{
    background-color: #eab37f;

}
.group18{
    background-color: #eada24;

}
