table, tr, td{
    border: solid 3px white;
}

.element-cell{
    padding: 2px 2px 2px 2px;
    height: 60px;
    width: 60px;
    text-align:center;
    vertical-align:middle;
    border-radius: 20px;
}
.filler-cell{
    border: none;
}

.period-number{
    border: none;
    padding-right: 5px;
}
group-number{
    border: none;
    padding-top: 5px;


}
#lanthanides .element-cell{
    background-color:  #00bfff;
}
#actinides .element-cell{
    background-color: #00cc00;
}
