#quiz1-btn:hover, #quiz2-btn:hover, #quiz3-btn:hover, #quiz4-btn:hover {
    -webkit-filter: brightness(92%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.quiz-difficulty-1{
    background-color: #cdecd2;
}

.quiz-difficulty-2{
    background-color: #bfebfb;
}

.quiz-difficulty-3{
    background-color: #fbc584;
}

.quiz-difficulty-4{
    background-color: #f9b4b7;
}

ul {
    list-style: none;
    padding: 0;
}

.green-background {
    background-color: #cdecd2;
}

.red-background {
    background-color: #f9b4b7;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}