body{
    background: url(../../images/main-background.jpg) no-repeat fixed center;
}

a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.top-buffer{
    margin-top: 35px;
}
.top-buffer-small{
    margin-top: 15px;
}